*

!.vscode/
!.vscode/tasks.json
!bash-commands
!bash-util
!docker/
!docker/server--sonarqube/
!docker/server--sonarqube/default.docker
!docker/server--sonarqube-database/
!docker/server--sonarqube-database/default.docker
!docker-compose/
!docker-compose/server--sonarqube/
!docker-compose/server--sonarqube/default.docker-compose
!.gitignore
!.gitmodules
!host.env
!LICENCE
