*

!.vscode/
!.vscode/tasks.json
!bash-commands
!bash-util
!docker/
!docker/server--sonarqube/
!docker/server--sonarqube/rootfs/
!docker/server--sonarqube/rootfs/opt/
!docker/server--sonarqube/rootfs/opt/server--sonarqube/
!docker/server--sonarqube/rootfs/opt/server--sonarqube/entrypoint.sh
!docker/server--sonarqube/default.docker
!docker/server--sonarqube-database/
!docker/server--sonarqube-database/default.docker
!docker-compose/
!docker-compose/server--sonarqube/
!docker-compose/server--sonarqube/default.docker-compose
!.gitignore
!.gitmodules
!container-database.env
!container.env
!host.env
!LICENCE
!README.md
